*{
    color: #dde1e7;
    color: #bfc7cf;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hed ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#titulo{
    margin-top: .6em;
    font-size: 2.7em;
    margin-right: 13%;
    text-decoration: none;
}



#titulo h1:hover{
    color: #0077B5;
    scale: 1.1;
    transition: all .3s ease;
}

#hed{
    margin-top: 3em;
}

#hed ul li{
    list-style:none;
    margin-right: 3em;
}

#hed ul li:hover{
    scale: 1.2;
    transition: all .3s ease;
}

#hed ul li a:hover{
    color: #0077B5;
    

}

#hed ul a {
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) and (min-width: 430px){
    #hed {
        display: block;
        text-align: center;
        align-items: center;

    }
    #titulo h1{
        font-size: .8em;
    }

    #hed {
        margin-top: 1em;
        font-size: .7em;
    }

}

@media (max-width: 430px){
    header {
        flex-direction: column;
    }
    
    #titulo h1{
        font-size: .7em;
    }

    #hed {
        margin-top: .3em;
        font-size: .7em;
    }

}