*{
    color: #E0E0E0;
    color: #dde1e7;
    color: #b7bdc4;
    color: #bfc7cf;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hed ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#titulo{
    margin-top: .6em;
    font-size: 2.7em;
    margin-right: 13%;
    text-decoration: none;
}

#titulo h1:hover{
    color: #0077B5;
}

#hed{
    margin-top: 3em;
}

#hed ul li{
    list-style:none;
    margin-right: 3em;
}

#hed ul li a:hover{
    color: #0077B5;
}

#hed ul a {
    text-decoration: none;
}

#buttonProject{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by satyamchaudharydev */ 
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(68, 102, 124);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;

}

a{
    text-decoration: none;
}

/* From Uiverse.io by Custyyyy */ 
.button-name {
  align-items: center;
  appearance: none;
  background-color: #ccc;
  border-radius: 4px;
  border-width: 0;
  box-shadow:
    rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-name:hover {
  box-shadow:
    rgb(255, 255, 255) 0 4px 8px,
    rgb(255, 255, 255) 0 7px 13px -6px,
    #ffffff 0 -1px 0 inset;
  transform: translateY(-2px);
}

.button-name:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
  
  

#myInfo img{
    width:  9.3em;
    height: 9.3em;
    border-radius: 50%;
    object-fit: cover;  
    
}


#imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6em;
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
    );
    width:  9.5em;
    height: 9.5em;
    border-radius: 50%;
    border: solid 2px gradient;
}
#myInfo{
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;

}
#myInfo h1{
    margin-top: 11%;
    font-size: 1.5em;
    margin-left: .7em; 
    margin-top: 1.4em;  
}

#myInfo a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#myInfo a:hover{
    color: #0077B5;
    
}

#redes{
    margin-left: 1em;    
    display: flex;
    justify-content: center;
    align-items: center;
}

#redes a{
    
    text-decoration: none;
    box-shadow: none;
    
    margin-right: 1.7em;
}

#instagram:hover{
    color: #e1306c;
}

#github:hover{
    color: #fff;
}
#linkedin:hover{
    color: #0077B5;
}


#experience{
    
    text-align: center;
    margin-top: 6em;
}

#experience p{
    font-size: 1.2em;
}

#myExperience{
    margin-left: 24%;
    
    height: auto;
    width: 50%;
    
}

#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6.5em;
 
}

#imagenProject{
    
    
    width: auto;
    height: auto;
}



#projects h1{
    font-size: 3em;
    margin-bottom: 1em;
}

.card{
    background-color: #0c0f11;
    border: solid 1px #fff;
    width: 95%;
    height: 100%;
    margin-left: .8em;
}

#myProjects{
    margin-bottom: 6.5em;
    background-color: #0c0f11;
    
}




#svg svg{
    width: 2em;
    height: 1.6em;
}


#tecno svg{
    width: 2em;
    height: 1.6em;
}

#tecno li{
    list-style: none;
}

#title-tecno{
    margin-top: 1em;
    margin-bottom: 1.5em;
}
#tecno ul li{
    margin-right: 1em;
}
#tecno {
    
    text-align: center;
}

#contactMe{
    margin-top: 3.5em;
    text-align: center;
}

#myContact{
    margin-top: 2em;
    font-size: 1.1em;
    display: inline-flexbox;
    
}

#myContact a:hover{
    color: #fff;
}


/* el @media a partir de 760px para abajo */

@media (max-width: 768px) and (min-width: 430px){
    #myInfo{
        display:block;
        text-align: center;
        align-items: center;
    }
    #imagen{
        margin-left: 35%;
    }
    #myInfo h1{
        margin-right: 1.8em;
        font-size: 1.1em;
    }
    #redes a svg{
        width: .9em;
        height: .8em;
    }

    #hed {
        display: block;
        text-align: center;
        align-items: center;

    }
    #titulo h1{
        font-size: .8em;
    }

    #hed {
        margin-top: 1em;
        font-size: .7em;
    }

}

@media (max-width: 430px){
    #myInfo{
        display:block;
        text-align: center;
        align-items: center;
    }
    #imagen{
        margin-left: 27%;
    }
    #myInfo h1{
        margin-right: 1.8em;
        font-size: .9em;
    }
    #redes a svg{
        width: .7em;
        height: .6em;
    }

    header {
        flex-direction: column;
    }
    
    #titulo h1{
        font-size: .7em;
    }

    #hed {
        margin-top: .3em;
        font-size: .7em;
    }

}